<style>
  @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
</style>
body{
	font-family: 'Mochiy Pop One';
}
/* ページ全体の背景色などを設定 */
main {
	background:  #deedff;
}

/* ページの見出し領域の背景色，画像などを設定（id属性で設定） */
/* 画像のファイルへのパスはこのCSSファイルのあるフォルダから見て，どこにあるかの相対パスとなる */


/* class属性で設定した領域で背景を青系（#99e0ff）にする */


.border-dashed1{
	margin: 5em auto;
	background-color: #F6EEEC;/*ボックス背景色*/
	padding:2.7em 5em 5em;/*ボックス内側余白*/
	position:relative;/*配置(ここを基準に)*/
}
.border-dashed1 .pl-3 {
background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}
.border-dashed2{
	margin: 2em auto;
	background-color: #F6EEEC;/*ボックス背景色*/
	padding:2.5em 2em 2em;/*ボックス内側余白*/
	position:relative;/*配置(ここを基準に)*/
}
.border-dashed2 .pl-3 {
background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}
.border-dashed3{
	margin: 2em auto;
	background-color: #F6EEEC;/*ボックス背景色*/
	padding:2.5em 2em 2em;/*ボックス内側余白*/
	position:relative;/*配置(ここを基準に)*/
}
.border-dashed3 .pl-3 {
background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}
.border-dashed4{
	margin: 2em auto;
	background-color: #F6EEEC;/*ボックス背景色*/
	padding:2.5em 2em 2em;/*ボックス内側余白*/
	position:relative;/*配置(ここを基準に)*/
}
.border-dashed4 .pl-3 {
background-image: repeating-linear-gradient(-45deg,#F6EEEC 0, #F6EEEC 3px,#fafafa 3px,#fafafa 6px);/*ストライプ*/
	border-left: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ左*/
	border-right: 2px dotted rgba(0,0,0,.1);/* テープのギザギザ右*/
	transform: rotate(-2deg);/*テープの傾き*/
	font-size: 1em;/*タイトル文字の大きさ*/
	padding: 10px 20px;/*タイトルの余白*/
	line-height: 1;/*タイトルの行の高さ*/
	position:absolute;	/*配置(ここを動かす)*/
	top: -15px; /*上から（-10px）移動*/
	left: 20px; /*左から(20px)移動*/
}




.box-shadow{
	box-shadow: 2px 2px 4px gray; /*影の幅 右 下　ぼかしの幅　影の色(カラーコードも可） */
}
.border-radius{
	border: 1pt;
  border-radius: 10px;
}
/* 地図の表示領域の設定 */
#map_here{
	float: left;
	clear: left;
	width: 340px;
	height: 260px;
}
p{
font-size: 30px;
font-family: 'Mochiy Pop One';
}

h1 {
  text-align:center;
   background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  font-family: 'Mochiy Pop One';
}
h2 {
  background: #fffaf4;
  color: #010101;
  border-left: solid 8px #e3bf00;
  padding: 0.5em;
  font-family: 'Mochiy Pop One';
}
h3{
background: #fffaf4;
  color: #010101;
  border-left: solid 8px #e3bf00;
  padding: 0.5em;
  font-family: 'Mochiy Pop One';
}










